.play {
  cursor: pointer;
  height: 44px;
  border: none;
  border-radius: 5px;
  background: limegreen;
  transition: all 0.3s;
  position: absolute;
  top: 558px;
  left: 466px;
  width: 190px;

  &:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #8bc34a;
  }
}
